.reveal {
  font-family: "Museo Sans", Helvetica, sans-serif !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  font-family: "Museo Slab", Helvetica, sans-serif !important;
  font-weight: 500;
}

.reveal ul {
  list-style-type: circle;
}

.reveal section img.splash {
  padding: 0;
  box-shadow: none;
  border: none;
  margin-top: 0px;
}

.reveal section img.portrait {
  margin: 30px;
  border-radius: 65px;
  border: 2px solid #cdcdcd;
}

.reveal .lowercase {
  text-transform: none !important;
}

.rounded {
  border-radius: 141px;
}

.dx1, .dx2, .dx3, .dx4, .dx5 {
  position: absolute;
}

.dx5 {
  top: 160px;
  left: -90px;
}

.dx3 {
  top: -80px;
  left: 400px;
}

.dx4 {
  top: 160px;
  left: 850px;
}

.dx2 {
  top: 430px;
  left: 750px;
}

.dx1 {
  top: 430px;
  left: 10px;
}
